.flaskenv
__pycache__/
*.py[cod]
*$py.class
tests/
venv/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
instance/
.webassets-cache
docs/_build/
