{% extends 'layout.html' %}

{% block title %}{{ post.title }}{% endblock %}


{% block content %}
{% for comment in pagin.items %}
<div class="m-3" style="display: flex; flex-direction: row; margin-bottom: 1px;">
  <img class="rounded-circle account-img"
    src="{{ url_for('static', filename='small_profile_pics/' + comment.author.picture)}}" alt="">
  <h5 class="m-1"><a href="{{ url_for('users.user', id=comment.author.id) }}"
      style="margin-bottom: 1px; text-decoration: none; margin-right: 15px;">{{ comment.author.username }}</a></h5>
  <p class="card-text mb-auto" style="justify-content:flex-end; margin-bottom: 1px; align-self: center; font-size: smaller;">{{
    comment.timestamp.strftime("%Y-%m-%d") }}</p>
</div>
<div class="comment-box">
<p style="font-size: large; margin-left: 15px;" disabled readonly>{{ comment.body }}</p>
{% if comment.author_id == current_user.id %}
            <ul class="nav justify-content-end list-unstyled">
            <li class="nav-item fs-3">
                <a href="{{ url_for('main.edit_comment', id=comment.id, post_id=post.id ) }}"
                    style="margin-right: 20px; font-size: 20px; text-decoration: none;"
                    class="d-flex justify-content-end">Edit</a>
            <li class="nav-item fs-3">
                <a href="{{ url_for('main.delete_comment', id=comment.id, post_id=post.id ) }}" style="font-size: 20px; text-decoration: none;"
                    class="d-flex justify-content-end">Delete</a>
            </ul>
            </div>
            {% else %}

{% endif %}
    

{% endfor %}
{% endblock %}

  {% block script %}
  {% endblock %}