{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div style="width:100%;">
    <div class="row mb-2">
        <div class="content-section">
            <form method="POST" action="" class="row g-3" style="margin: 10px;">
                {{ form.hidden_tag() }}
                <legend>Have you forgot your password?</legend>
                <fieldset class="form-group m-4">
                    <div class="col-md-1 w-25 p-3" style="margin-bottom: 3px; float:left; width:10%;">
                        <span>Enter your email address</span>
                        <br>
                        {% if form.email.errors %}
                        {{ form.email(class="form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}

                        </div>

                        {% else %}
                        {{ form.email(class_="form-control-lg mb-3") }}
                        {% endif %}
                        
                        {{ form.submit (class="btn btn-outline-primary mb-4")}}
            <br>
                    </div>

                    {% endblock %}

                    {% block script %}{% endblock %}