{% extends 'layout.html' %}
{% block title %}Following{% endblock %}
{% block content %}
    <div style="display: flex; flex-direction: row; margin-left: 130px;" class="mb-3">
                            <h2 style="color: blue; margin-right: 13px;" class="list-inline-item">Posts from the users which you follow</h2>          
    </div>
    <hr>
    {% for post in posts.items %}
    <div class="row g-0 border rounded overflow-hidden flex-sm-row m-3 shadow-sm h-sm-150 position-relative margin5">
        <div class="col p-4 d-flex flex-column position-static">
            <h2><a href="{{ url_for('main.post', id=post.id) }}" class="blog-post-title" style="text-decoration: none; color: black;">{{ post.title }}</a></h2>
            {% if post.user_id == current_user.id %}
                <span class="blog-post-meta">Created by: <a href="{{ url_for('users.account') }}">{{ post.author.username }}</a><br>{{
                    post.date_posted.strftime("%Y-%m-%d %H:%M") }}</span>
            {% else %}
                <span class="blog-post-meta">Created by: <a href="{{ url_for('users.user', id=post.author.id) }}">{{ post.author.username }}</a><br>{{
                post.date_posted.strftime("%Y-%m-%d %H:%M") }}</span>
            {% endif %}
            <div style="display: flex;">
            <p><a class="card-text mb-auto" href="{{ url_for('main.post', id=post.id) }}" style="justify-content: flex-start; text-decoration: none; color: black;">{{ post.content }}</a></p>
            {% if post.user_id == current_user.id %}
            <a href="{{ url_for('main.edit_post', id=post.id ) }}" style="justify-content: flex-end;">Edit</a>
            {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    <span>
        {% if posts.has_prev %}
        <a class="btn btn-outline-info m-3" href="{{ url_for('main.home', page=posts.page - 1) }}"><</a>
        {% endif %}
    </span>
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, right_current=2, left_current=1) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info m-3" href="{{ url_for('main.following', id=current_user.id, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info m-3" href="{{ url_for('main.following', id=current_user.id, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}
    <span>
        {% if posts.has_next %}
        <a class="btn btn-outline-info m-3" href="{{ url_for('main.following', id=current_user.id, page=posts.page + 1) }}">></a>
        {% endif %}
    </span>
 


{% end block %}