{% extends 'layout.html' %}

{% block title %}Access denied{% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="text-align: center;">
  

  <main class="px-3">
    <h2>Your account is not confirmed. We have sent you an email where you can find a confirmation link. <br>Please check your inbox.</h2>
    <hr>
    <br>
    <br>  <br>
    <h3>If you are facing any issues, you can resend the token on this link:</h3><br>
    <h3><a style="color: green;" href="{{ url_for('users.resend_token', id=current_user.id) }}">Resend</a></h3>

 
    

</div>

{% endblock %}

{% block script %}{% endblock %}