{% extends 'layout.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="m-3" style="display: flex;">
    <br>
    <h2 style="justify-content: flex-start;">{{ user.username }}</h2>
</div>
<div style="display: flex;">
    {% if user.about_me %}
    <blockquote>
        <p class="m-3" style="font-style: italic; justify-content: flex-start; align-content: flex-center;">
            {{user.about_me}}</p>
    </blockquote>
    {% else %}
    <blockquote>
        <p class="m-3" style="font-style: italic; justify-content: flex-start; align-content: flex-center;">
            No information</p>
    </blockquote>
    {% endif %}
</div>

<div style="display: flex; justify-content: flex-end;" class="m-3" >
    Followers: <span class="fw-bold">&nbsp;{{ user.followed.count() }}&nbsp;</span>
    Following: <span class="fw-bold">&nbsp;{{ user.follower.count() }}</span>
</div>

<div style="display: flex; justify-content: flex-end;" class="m-3">
    {% if current_user.is_following(user) == True and user != current_user %}
    <a style="justify-content: flex-end;" href="{{ url_for('.unfollow', id=user.id) }}" class="btn btn-primary">Unfollow</a>
    {% else %}
    <a style="justify-content: flex-end;" href="{{ url_for('.follow', id=user.id) }}" class="btn btn-primary">Follow</a>
    {% endif %}
    {% if user.is_following(current_user) %}
    <span class="label label-default btn-primary btn" style="background-color: gray;">Follows you</span>
    {% endif %}
</div>
<hr> <br> <br>


<div>
    <h2  style="color:#0000EE; margin-left: 15px; margin-bottom: 3px;">User Posts</h2>
    {% for post in pagin.items %}
    <div class="row g-0 border rounded overflow-hidden flex-sm-row m-3 shadow-sm h-sm-10 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <a style="text-decoration: none; color: black;" href="{{ url_for('main.post', id=post.id) }}">
                <h2 class="blog-post-title">{{ post.title }}</h2>
            </a>
            <a style="text-decoration: none; color: black;" href="{{ url_for('main.post', id=post.id) }}">
                <p class="card-text mb-auto">{{ post.content }}</p>
            </a>
        </div>
    </div>
    {% endfor %}

    <span>
        {% if pagin.has_prev %}
        <a class="btn btn-outline-info m-3" href="{{ url_for('users.account', page=pagin.page - 1) }}">
            << /a>
                {% endif %}
    </span>
    {% for page_num in pagin.iter_pages(left_edge=1, right_edge=1, right_current=2, left_current=1) %}
    {% if page_num %}
    {% if pagin.page == page_num %}
    <a class="btn btn-info m-3" href="{{ url_for('users.account', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-outline-info m-3" href="{{ url_for('users.account', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    <span>
        {% if pagin.has_next %}
        <a class="btn btn-outline-info m-3" href="{{ url_for('users.account', page=pagin.page + 1) }}">></a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}